@font-face {
  font-family: 'static';
  src: url(../fonts/static.eot?28032800);
  src: url(../fonts/static.eot?28032800#iefix) format('embedded-opentype'),
       url(../fonts/static.woff?28032800) format('woff'),
       url(../fonts/static.ttf?28032800) format('truetype'),
       url(../fonts/static.svg?28032800#static) format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'static';
    src: url(../fonts/static.svg?28032800#static) format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "static";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-emo-happy:before { content: '\e804'; } /* '' */
.icon-emo-unhappy:before { content: '\e801'; } /* '' */
.icon-emo-displeased:before { content: '\e805'; } /* '' */
.icon-emo-grin:before { content: '\e800'; } /* '' */
.icon-emo-squint:before { content: '\e803'; } /* '' */
.icon-emo-laugh:before { content: '\e802'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e806'; } /* '' */